<app-navbar></app-navbar>
<app-hero></app-hero>
<app-about></app-about>
<app-skills></app-skills>
<app-knowledge></app-knowledge>
<app-education></app-education>
<app-education></app-education>
<app-experience></app-experience>
<app-links></app-links>
<app-footer></app-footer>
<div class="test-container">
    <button (click)="toggleLang()">Toggle</button>
    <p><a (click)="setCurrentLang('fr')">FR</a> | <a (click)="setCurrentLang('en')">EN</a></p>
    <p>{{'language' | translate }}</p>
</div>
<router-outlet></router-outlet>