<nav class="navbar is-fixed-top is-info">
    <div class="navbar-brand">
        <a class="navbar-item" (click)="setCurrentLang('en')">EN</a>
        <a class="navbar-item" (click)="setCurrentLang('fr')">FR</a>
        
        <div id="burger" class="navbar-burger burger" data-target="menu" (click)="toggleBurgerMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    
    <div class="navbar-menu" id="menu">
        <div class="navbar-end">
            <a class="navbar-item is-info" href="#about">
                <span>{{'about.title' | translate}}</span>
            </a>
            <a class="navbar-item is-info" href="#skills">
                <span>{{'skills.title' | translate}}</span>
            </a>
            <a class="navbar-item is-info" href="#knowledge">
                <span>{{'knowledge.title' | translate}}</span>
            </a>
            <a class="navbar-item is-info" href="#education">
                <span>{{'education.title' | translate}}</span>
            </a>
            <a class="navbar-item is-info" href="#experience">
                <span>{{'experience.title' | translate}}</span>
            </a>
            <a class="navbar-item is-info" href="#links">
                <span>{{'links.title' | translate}}</span>
            </a>
        </div>
    </div>
</nav>